.Product{
    display: flex;
    justify-content: center;
    column-gap: 30px;
    margin-top: 50px;
    &__div {
        flex-wrap: wrap;
        width: 33%;
        &__info {
            display: flex;
            flex-direction: column;
            text-align: left;
            row-gap: 20px;
            padding: 20px 0 0 30px;
            &__last-p {
                color: rgba(0, 0, 0, 0.582);
                font-size: 18px;
                text-decoration: underline;
                transition: all .4s;
                &:hover {
                    cursor: pointer;
                    color: blue;
                }
            }
        }
        img {
            object-fit: contain;
            height: 250px;
            object-fit: cover;
            transition: all .5s;
            &:hover{
                transform: scale(1.1);
                cursor: pointer;
            }
        }
    }
}