
/* h1 {
    font-size: 50px;
  
    font-weight: 800;
    text-align: center;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
    height: 150px;
    color: rgb(0, 0, 0);
}

ul li {
    border: 2px solid #414a5c;
    padding: 7px;
    border-radius: 10px;
    width: 20%;
    font-size: 30px;
    color:antiquewhite;
    background-color: #1a1a1a;
}



#box {
    display: flex;
    align-items: center;
    gap: 18px;
    justify-content: center;
    margin-bottom: 30px;
}

button {
    background-color: #406e7a;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #51617c;
    transform: scale(1.1);
}



button[disabled] {
    cursor: not-allowed;
    opacity: 0.6;
    background-color: rgba(255, 0, 0, 0.274);
}

button[disabled]:hover {
    transform: scale(1);
} */

