body {
    background: linear-gradient(90deg, rgba(14,174,76,1) 0%, rgba(30,165,159,1) 50%, rgba(47,145,255,1) 100%);
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    position: relative;
}

.glav_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 550px;
    .form {
        padding: 30px 0;
        width: 600px;
        border-radius: 8px;
        background-color: white;
        display: flex;
        flex-direction: column;
        row-gap: 35px;
        align-items: center;
        input[type='text'],
        input[type='email'] {
           margin-left: 30px;
           padding: 9px;
           background-color: #F3F3F3;
           border: 0;
            font-size: 16px;
           &::placeholder {
                color:silver;
           }
        }
        h1 {
            margin-left: -240px;
        }
        .url_inp {
            width: 82%;
            margin-left: 30px;
            background-color: #F3F3F3;
            border: 0;
            padding: 9px;
            font-size: 16px;
            &::placeholder {
                color:silver;
            }
        }
        .textarea {
            width: 82%;
            margin-left: 30px;
            background-color: #F3F3F3;
            border: 0;
            padding: 9px;
            font-size: 16px;
            height: 100px;
            &::placeholder {
                color:silver;
            }
        }
        button {
            width: 100px;
            padding: 10px;
            background: linear-gradient(90deg, rgba(14,174,76,1) 0%, rgba(30,165,159,1) 50%, rgba(47,145,255,1) 100%);
            border: 0;
            color: white;
            transition: .4s;
            &:hover {
                cursor: pointer;
                background: linear-gradient(90deg, rgba(47,145,255,1) 0%, rgba(30,165,159,1) 50%, rgba(14,174,76,1) 100%);
            }
        }
    }
    .p_error {
        background-color: red;
        color: white;
        width: 50%;
        text-align: center;
        position: absolute;
        padding: 1em;
        top: 10px;
        left: 25%;
        border-radius: 10px;
        border: 0;
        border-color: red;
    }
    .span_i {
        float: right;
        font-size: 25px;
        &:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
    }
}