.slideImg{
    width: 900px;
    height: 470px;
    margin: 0 auto;
}
.slide{
    width: 1000px;
    margin: 0 auto;
}
body{
    background-color: black;
}
.slide h2{
    color: white;
    text-align: center;
}
.slide p{
    color: darkgray;
    text-align: center;
}