*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #eee;
}

.cart-item{
  margin: 100px 40px;
  width: 350px;
  display: flex;
  column-gap: 40px;
  text-align: center;
  line-height: 25px;
  
}
.item{
  justify-content: space-between;
  box-shadow: 3px 3px 8px black;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
}
.cart-item .item img{
  max-width: 350px;
}

.h1{
  font-size: 23px;
  color: black;
}
p{
  color: #6c6969;
}
button{
  width: 100px;
  height: 40px;
  color: #fff;
  background-color: black;
}
button:hover{
  color: black;
  background-color: #fff;
  transition: all .4s;
}