body{
    background-color: #003466;
}
.big-div{
    margin: 50px auto;
    width: 60%;
    height: 800px;

}
img{
    width: 180px;
    height: 150px;
}
header{
    background-color: #F35458;
    display: flex;
    justify-content: right;
    padding: 20px;
    margin-bottom: 40px;
}
header a{
    text-decoration: none;
    width: 150px;
    background-color: #fff;
    text-align: right;
    padding: 15px 10px;
    color: #F35458;

}
.item{
    background-color: #ffff;
    padding: 20px;
}
.product{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
}
.product p span {
    color: #589BCB;
}
.btn > i{
    color: #589BCB;
    font-size: 25px;

}
.btn {
    height: 30px;
}
.total{
    color:#589BCB;
    font-size: 20px;
    padding: 20px;
}
.total span{
    color: #F35458;
}