.error {
    h2 {
        font-size: 40px;
        color: red;
        text-align: center;
    }
    .home_but {
        background-color: cadetblue;
        text-decoration: none;
        width: 100px;
        text-align: center;
        padding: 7px;
        margin: 30px auto;
        border-radius: 5px;
        color: white;
        position: absolute;
        left: 47%;
    }
}