.div_todos {
    max-width: 1140px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  
    ul {
      background-color: teal;
      color: white;
      padding: 10px;
      list-style-type: none;
      border-radius: 10px;
      width: 300px;
  
      span {
        font-weight: bold;
      }
  
      li {
        border: 1.5px solid silver;
        padding: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
      }
    }
    .todo_i {
        color: darkblue;
        float: right;
        font-size: 21px;
        transition: all .3s;
        &:hover {
            transform: scale(1.2);
            cursor: pointer;
        }
    }
    h3 {
        padding-bottom: 20px;
    }
  }

  .forms {
    background-color: teal;
    color: white;
    padding: 10px;
    list-style-type: none;
    border-radius: 10px;
    width: 300px;
  }
