table{
    border: solid;
}
.modal{
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
}
.modal__Content{
    width: 250px;
    height: 150px;
    background-color: #fff;
    margin-top: 90px;
}
p {
	display: none;
}