*{
	margin: 0;
	padding:0;
	box-sizing:border-box;
}

.App {
	width: 80%;
	height: 350px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 1em;
	background-color: #dedede;
	margin: 150px auto;
}

.App button {
	padding: 13px 23px;
	border-radius: 6px;
	font-weight: 700;
	font-size: 18px;
	cursor: pointer;
}
.App button.active {
	background-color: #111;
	color: #fff;
	transform: translateY(-3px);
}
.product{
	background-color: #eee;
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.product .item{
	width: 350px;
	background-color: rgb(17, 8, 41);
	text-align: center;
}
.product .item p{
	font-size: 26px;
	color: white;
	line-height: 40px;
}
.product .item img{
	width: 250px;
	height: 200px;
}