h1{
	text-align: center;
}
.wrapper {
	width: 700px;
	margin: 20px auto;
	padding: 1rem;

}
	form {
		width: 50%;
		margin: 10px auto;

		input,select {
			padding: 1rem;
			margin: 10px auto;
			width: 100%;
			border-radius: 10px;
		}

		label {
			font-variant: small-caps;
			font-weight: 700;
			border-bottom: 1px solid teal;
			font-size: 20px;
		}

		select {
			appearance: none;
			font-size: 18px;
		}
	}