body {
	background-color: #dedede;
}
.productCard{
    width: 300px;

}
.productCard img{
    width: 380px;
		object-fit: cover;
    height: 420px;
}
.productCard p{
    font-family: sans-serif;
    color: #444;
}
section{
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
}