@mixin flexRools($js, $ai, $fd) {
	display: flex;
	justify-content: $js;
	align-items: $ai;
	flex-direction: $fd;
}

body {
	background-color: #101522;
}

.wrapper {
	max-width: 1400px;
	margin: 0px auto;







		form {
			width: 50%;
			margin: 10px auto;
			color: #fff;

			label {
				font-variant: small-caps;
			}

			div {
				padding: 10px;

				&.radio-form-group {
					@include flexRools(flex-start, flex-start, column);

					input {
						width: 20px;
						padding-right: 10px;
						float: left;
						margin: 10px;
					}

					.radio-wrapper {
						display: flex;
						justify-content: center;
						align-items: center;
					}
				}
				.error {
					color: #ff0404;
					
				}
				input,
				select {
					margin: 10px auto;
					border-radius: 12px;
					padding: 0.5rem 1rem;
					font-size: 18px;
					width: 100%;

					&:focus {
						outline: none;
					}
				}

				input[type='submit'] {
					background-color: green;
					font-weight: 600;
					cursor: pointer;
					color: #fff;
					border: 0;

					&:active {
						scale: 0.98;
						transition: 0.2s;
						background-color: rgb(14, 165, 14);
					}
				}
			}
		}
	}


	.err-alert{
		background-color: hsla(0, 100%, 51%, 0.5);
		padding: 1em;
		border-radius: 16px;
		margin: 10px;
	}