
.error {
	width: 400px;
	margin: 40px auto;
	background-color: #dedede;
	border-radius: 16px;
	padding: 1.5em;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 40px;
	align-items: center;
}