body {
    background-color: #09161C;
}

table {
    background-color: #222D33;
    width: 100%;
    border-collapse: collapse;
    padding: 20px;
		overflow: hidden;

td,th {
	padding: 10px;
	text-align: center;
	border-bottom: 1px solid #21627773;
}
th {
	width: 16%;
	font-weight: bold;
	color: #ffffff;
	i {
		background-color: transparent;
		color: rgb(255, 255, 255);
		border: 1px solid #00c8ff;
		border-radius: 5px;
		padding: 5px 10px;
		font-size: 16px;
		cursor: pointer;

			&:hover {
					background-color: #216277;
			}
	}
}

td {
	color: #838383;
	background-color: #09161C;
	button {
		padding: 5px 10px;
		border: none;
		border-radius: 5px;
		background-color: #ff0000;
		color: white;
		font-size: 16px;
		cursor: pointer;
		&:hover {
				background-color: #cc0000;
		}
	}
span{
	color: #31a1c0;
	font-size: 17px;
	font-weight: 700;
}
img {
	max-width: 60px;
	transition: .2s;
		&:hover {
			transform: scale(1.5);
			border-radius: 5px;
			transition: .6s;
			cursor: pointer;
			}
		}
}
}
